[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
jupyterlab = "*"
torch = "*"
matplotlib = "*"
shap = "*"
xgboost = "*"
six = "*"
joblib = "*"
sklearn = "*"
sympy = "*"
graphviz = "*"
seaborn = "*"
scikit-learn-extra = "*"

[requires]
python_version = "3.7"

[dev-packages]
