[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
jupyterlab = "*"
torch = "*"
matplotlib = "*"
shap = "*"
xgboost = "*"
six = "*"
joblib = "*"
sklearn = "*"
sympy = "*"
graphviz = "*"
seaborn = "*"
scikit-learn-extra = "*"
sh = "*"
pygraphviz = "*"
pyyaml = "*"
scikit-image = "*"
imgaug = "*"
brokenaxes = "*"
grad-cam = "*"

[requires]
python_version = "3.7"

[dev-packages]
